---
layout: default
pagination:
enabled: true
---
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<div class="home">

  <div class="site-header-container {% if site.cover %}has-cover{% endif %}"
    {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});" {% endif %}>
    <div class="scrim {% if site.cover %}has-cover{% endif %}">
      <header class="site-header">
        <h1 class="title" style=font-size:50px>{{ site.title }}</h1>
        {% if site.subtitle %}<p class="title" style=font-size:30px>{{ site.subtitle }}</p>{% endif %}
      </header>
    </div>
  </div>
  <br>
  <div class="wrapper">
    <h1 id="headings">Paper</h1>
    <p align="center">
      <!--
      <a href="https://youtu.be/opbFE6OsAeA">
        <img src="assets/thumbnail_yt.png" alt="AEGNN" width="500"/>
      </a>-->
      <a href="https://rpg.ifi.uzh.ch/docs/CVPR22_Schaefer.pdf">[PDF]</a> 
            <!--<a href="https://youtu.be/opbFE6OsAeA">[YouTube]</a> 
      <a href="https://github.com/uzh-rpg/aegnn/">[Code]</a> -->
    </p>
    Event-based Agile Object Catching with a Quadrupedal Robot
    <h1 id="headings">Introduction</h1>
    <p style="text-align: justify">
      Quadrupedal robots are conquering various applications in indoor and outdoor 
      environments due to their capability to navigate challenging uneven terrains.
      Exteroceptive information greatly enhances this capability since perceiving their 
      surroundings allows them to adapt their controller and thus achieve higher levels 
      of robustness. However, sensors such as LiDARs and RGB cameras do not provide sufficient 
      information to quickly and precisely react in a highly dynamic environment since 
      they suffer from a bandwidth-latency tradeoff. They require significant bandwidth 
      at high frame rates while featuring significant perceptual latency at lower frame rates, 
      thereby limiting their versatility on resource constrained platforms. In this work, 
      we tackle this problem by equipping our quadruped with an event camera, which 
      does not suffer from this tradeoff due to its asynchronous and sparse operation. 
      In levering the low latency of the events, we push the limits of quadruped agility 
      and demonstrating high-speed ball catching with a net for the first time. We show 
      that our quadruped equipped with an event-camera can catch objects at maximum speeds 
      of 15 m/s from 4 meters, with a success rate of 83%. With a VGA event camera, our method 
      runs at 100 Hz on an NVIDIA Jetson Orin. 
    </p>


    <div class="container" style="margin-top:30px;margin-bottom:30px;">
      <h2>Publication</h2>
      If you use this code in a publication, please cite our paper.

    </p>
      B. Forrai*, T. Miki*, D. Gehrig, M. Hutter and D. Scaramuzza, <b>"Event-based Agile Object Catching with a Quadrupedal Robot" </b>,
      IEEE International Conference on Robotics and Automation (ICRA), 2023. 
      <br>
    </p>
<pre>
<code class="pre-scrollable" style="background:#ffffff;color:rgb(36, 21, 21);font-size:12px;padding:0px;border-width:0px;">
@article{Forrai21icra,
  title={Event-based Agile Object Catching with a Quadrupedal Robot},
  author={Forrai, Benedek and Miki, Takahiro and Gehrig, Daniel and Hutter, Marco and Scaramuzza, Davide},
  journal={IEEE International Conference on Robotics and Automation (ICRA)},
  year={2023}
}
</code>
</pre>

    </p>

    <h2 id="headings">People</h2> 
<div id="people">
  <!--<div class="inline-block">
    <a href="https://simon-schaefer.github.io/">
    <img class="circular--square" src="{{site.baseurl}}/assets/people/simon.jpg" style="width: 200px">
    <p style="text-align:center"><strong>Simon Schaefer</strong></p>
    </a>-->
  </div>
  <div class="inline-block">
    <a href="https://danielgehrig18.github.io/">
    <img class="circular--square" src="{{site.baseurl}}/assets/people/avatar.jpg" style="width: 200px">
    <p style="text-align:center"><strong>Daniel Gehrig</strong></p>
    </a>
  </div>
  <div class="inline-block">
    <a href="http://rpg.ifi.uzh.ch/people_scaramuzza.html">
    <img class="circular--square" src="{{site.baseurl}}/assets/people/davide.png" style="width: 200px">
    <p style="text-align:center"><strong>Prof. Davide Scaramuzza</strong></p>
    </a>
  </div>
</div>

  </div>



</div>